#map  {
        height: 50%;   
        margin-bottom: 1em;
       
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
         height: 100%;
         margin-left: .5em;
        margin-right: .5em;
        
       
      }

      a[href^="tel:"]:before {
        content: "\260E";
       margin-right: 0.5em;
     }

      input[type=number]{
      width: 7em;
     }

      /*would like panels to be smaller*/ 
     .panel-body {
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }


     